article{

    a{
        
        img{
            width: 100%;
            border-top-left-radius: 5%;
            border-top-right-radius: 5%;
            margin-bottom: 5%;
        }

        p{
            font-size: 1em;
            font-style: $cursiva;
        }

        &:hover{
            color: $negro;
        }
    }
}

h4{
    text-decoration: none;
    font-size: 1.2em;
}

.catalogo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: $centrado;
    gap: 2%;
    margin: 3% 0% 2% 0%;
}

.recomendado{
    color: $negro;
    background-color: $blanco;
    width: 100%;
    border: 1px solid $blanco;
    font-size: 1em;
    padding-bottom: 3%;
    border-bottom: 3px solid transparent;

    &:hover{
        border-bottom: 3px solid $oscuro;
    }   
}

