.grillaInfo{
    display: grid;
    grid-template-areas: 
    "textoUno imagenUno imagenUno" 
    "textoUno imagenUno imagenUno"
    "imagenDos textoDos textoDos"
    "textoTres textoTres imagenTres"
    "imagenCuatro imagenCuatro textoCuatro"
    "imagenCuatro imagenCuatro textoCuatro";
    grid-template-rows: 200px 200px 200px 200px 200px; 
    grid-template-columns: 30% 40% 30%;
    row-gap: 3%;
    margin: 40px 0px 100px 0px;
    min-height: 1500px;

    p{
        font-size: 1.3em;        
    }
}

.textoUno{
    grid-area: textoUno;
    display: flex;
    align-items: center;
    padding-right: 15%;
}

.textoDos{
    grid-area: textoDos;
    display: flex;
    align-items: center;
    padding-left: 8%;
}

.textoTres{
    grid-area: textoTres;
    display: flex;
    align-items: center;
    padding-right: 8%;
}

.textoCuatro{
    grid-area: textoCuatro;
    display: flex;
    align-items: center;
    padding-left: 20%;
}

.imagenUno{
    grid-area: imagenUno;
}

.imagenDos{
    grid-area: imagenDos;
}

.imagenTres{
    grid-area: imagenTres;
}

.imagenCuatro{
    grid-area: imagenCuatro;
}

.imagenGrilla{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}
